body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}